<div class="text-white">
    <div class="bg-warning p-2 m-2">
        Toplam {{getProductCount()}} ürün mevcuttur.
    </div>
    <div *ngIf="getProductCount() >4" class="bg-info m-2 p-2">
        ürün sayısı 4 ten fazla ise bu kısım aktif olur..
    </div>
    <div *ngIf="getProductByPosition(1).name !=='Kayak'" class="bg-success m-2 p-2">
        2. ürün ismi kayak değildir&#45;&#45; kayak olsa bu kısım gözükmeyecekti..
    </div>
    <div class="bg-secondary m-2 p-2" [ngSwitch]="getProduct(1)?.name">
        <span *ngSwitchCase="targetName">KAYAK</span>
        <span *ngSwitchCase="'Lifejacket'">YÜZME</span>
        <span *ngSwitchDefault>DİĞER ÜRÜN</span>
    </div>
</div>
<div class="p-2">
     <div class="text-center bg-black p-2">
         Seçilen Kayıt : {{selectedProduct ?? 'Henüze kayıt seçmediniz..'}}
     </div>
     <table class="table table-sm table-bordered text-dark">
         <tr>
             <th>NUMARA</th>
             <th>NAME</th>
             <th>CATEGORY</th>
             <th>PRICE</th>
         </tr>
         <tr *ngFor="let item of getProducts(); let i=index" [class.bg-info]="getSelectedProduct(item)">
             <td (mouseover)="selectedProduct=item.name">{{i+1}}</td>
             <td>{{item.name}}</td>
             <td>{{item.category}}</td>
             <td>{{item.price}}</td>
         </tr>
     </table>
<div class="p-2 text-dark container">
    <div class="bg-success text-white p-2">Model Data = {{jsonProduct}} </div>
    <div class="form-group">
        <label> Name :</label>
        <input class="form-control mt-1" [(ngModel)]="newProduct.name">
    </div>
    <div class="form-group mt-2">
        <label> Category :</label>
        <input class="form-control mt-1" [(ngModel)]="newProduct.category">
    </div>
    <div class="form-group mt-2">
        <label> Price :</label>
        <input class="form-control mt-1" [(ngModel)]="newProduct.price">
    </div>
    <button class="btn btn-sm btn-success mt-2" (click)="addProduct(newProduct)">
        Kaydet
    </button>
</div>








